In [21]:
import pandas as pd

In [22]:
df_customer=pd.read_csv(r"C:\Users\Aayushi\Downloads\us_customer_data 1.csv")
df_transactions=pd.read_csv(r"C:\Users\Aayushi\Downloads\transaction_data.csv")

In [23]:
merge_df=pd.merge(df_customer,df_transactions,on='customer_id',how='inner')

In [24]:
df_customer.head()
df_transactions.head()

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
0,1,565,2992.47,2025-03-10 01:20:54,Sports,Debit Card,New York
1,2,323,2041.87,2025-01-02 15:24:19,Clothing,Cash,New York
2,3,398,107.35,2025-02-16 03:49:01,Beauty,Debit Card,Online
3,4,19,NaN,2025-04-30 15:26:23,Sports,Debit Card,Los Angeles
4,5,547,3063.28,2025-06-14 04:28:53,Clothing,PayPal,Los Angeles

In [25]:
df_customer['phone']=df_customer['phone'].astype(str).str.replace(r'\D','',regex=True)

In [26]:
import random

In [27]:
# Function to generate random 10-digit phone number
def generate_phone():
    return ''.join([str(random.randint(0, 9)) for _ in range(10)])
 
# Replace empty phone numbers
df_customer['phone'] = df_customer['phone'].apply(lambda x: generate_phone() if pd.isna(x) or x == '' else x)

In [28]:
df_customer.isnull().sum()

customer_id           0
name                  0
email                50
phone                 0
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [29]:
df_customer.columns=df_customer.columns.str.strip()

In [31]:
df_customer['email']=df_customer['email'].fillna(df_customer['name'].str.replace(' ','').str.lower()+'@example.ccom')

In [32]:
transaction=df_transactions.dropna(subset=['amount'])

In [ ]:
higher_value=merge_df[merge_df['amount']>merge_df['amount'].mean()]

In [40]:
higher_value

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold,8,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
3,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold,470,3241.66,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
6,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze,173,3456.05,2025-04-15 19:26:48,Home,Debit Card,Online
7,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze,548,2954.52,2025-05-21 22:54:54,Sports,Debit Card,Miami
9,12,Christine Delgado,yfarrell@example.net,310-834-9008,"PSC 4025, Box 2078, APO AA 61121",18-04-2024,Bronze,126,3696.64,2025-02-15 19:59:56,Beauty,Cash,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Erica Fleming,erica85@example.net,626-453-6078,"55648 Gilbert Square, Port Jessica, OR 63566",21-01-2025,Silver,171,3346.40,2025-05-29 20:17:50,Clothing,Cash,Miami
991,991,Erica Fleming,erica85@example.net,626-453-6078,"55648 Gilbert Square, Port Jessica, OR 63566",21-01-2025,Silver,808,2781.52,2025-05-14 07:30:24,Clothing,Credit Card,Los Angeles
992,992,Thomas Stevens,vargasmatthew@example.org,385-454-4879,"8783 Joseph Stravenue Suite 016, Port Gabriell...",25-06-2024,Silver,352,3691.14,2025-02-12 08:40:27,Sports,Debit Card,New York
993,995,Deanna Johnson,ycook@example.org,576-320-4824,"601 Contreras Forges, Michaelfurt, KY 30733",01-11-2023,Silver,62,4299.69,2025-01-04 19:54:59,Electronics,Debit Card,New York
994,995,Deanna Johnson,ycook@example.org,576-320-4824,"601 Contreras Forges, Michaelfurt, KY 30733",01-11-2023,Silver,129,4653.24,2025-04-25 23:19:54,Beauty,Cash,Chicago

In [39]:
merge_df

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold,8,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,427,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
2,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,452,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
3,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold,470,3241.66,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
4,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold,857,697.57,2025-06-13 12:03:42,Beauty,Debit Card,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Deanna Johnson,ycook@example.org,576-320-4824,"601 Contreras Forges, Michaelfurt, KY 30733",01-11-2023,Silver,532,759.38,2025-03-14 16:56:22,Home,PayPal,New York
996,995,Deanna Johnson,ycook@example.org,576-320-4824,"601 Contreras Forges, Michaelfurt, KY 30733",01-11-2023,Silver,617,821.18,2025-01-23 07:39:19,Electronics,Debit Card,Miami
997,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze,45,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
998,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,304,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
999,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,886,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online